<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>EventifyMIT</title>
      <link rel="icon" href="../img/Logo.png" type="image/x-icon" />
      <link rel="stylesheet" href="../css/reset.css" />
      <link rel="stylesheet" href="../css/headerFooter.css" />
      <link rel="stylesheet" href="../css/eventCard.css" />
      <link rel="stylesheet" href="../css/create.css" />
      <link rel="stylesheet" href="../bootstrap-5.3.3/css/bootstrap.css" />
      <script defer src="../js/eventCard.js"></script>
      <script defer src="../js/formSubmit.js"></script>
      <script defer src="../bootstrap-5.3.3/js/bootstrap.js"></script>
   </head>
   <body>
      <%- include("layout/header")%>

      <main>
         <div class="card m-3">
            <img
               src="<%= getEventBgSrc(event.event_type_id, event.event_name)%>"
               alt=""
               class="card__image"
            />
            <div class="card__overlay text-end">
               <div class="card__header p-4 text-start">
                  <img
                     class="card__thumb"
                     src="<%= getEventIconSrc(event.event_type_id)%>"
                     alt="concert"
                  />
                  <div class="card__header-text">
                     <h2 class="card__title text-center">
                        <%= event.event_name %>
                     </h2>
                     <h6 class="card__subtitle mb-2 text-muted text-center">
                        <%= eventType.name %>
                     </h6>
                     <span class="card__tagline card__date"
                        ><b>Start Date: </b><%=
                        event.start_time.toISOString().slice(0, 10) + ", " +
                        event.start_time.toISOString().slice(11, 16) %></span
                     >
                     <span class="card__tagline card__deadline"
                        ><b>End Date: </b><%=
                        event.end_time.toISOString().slice(0, 10) + ", " +
                        event.end_time.toISOString().slice(11, 16) %></span
                     >
                     <span class="card__tagline card__venue text-end"
                        ><b>Venue:</b> <%= venue.name + ", " + venue.location
                        %></span
                     >
                     <span class="card__tagline card__fees text-end"
                        ><b>Deadline: </b><%=
                        event.registration_deadline.toISOString().slice(0, 10) +
                        ", " +
                        event.registration_deadline.toISOString().slice(11, 16)
                        %></span
                     >
                  </div>
               </div>
               <div class="card-text p-4 text-start">
                  <p><%= event.event_description %></p>
                  <span class="card__tagline card__deadline"
                     ><b>Fees:</b> <% if (event.fees === 0) { %> Free <% } else
                     { %> &#8377;<%= event.fees %> <% } %></span
                  >
               </div>

               <div class="d-flex justify-content-between w-100 p-4">
                  <% if (user === 'ATTENDEE') { %>
                  <button class="btn btn-secondary">Contact Organizer</button>
                  <% if (status === "REGISTERED") { %>
                  <p class="card__txt fw-bold text-decoration-underline">
                     Registered
                  </p>
                  <% } else { %> <% if (eventClosed) { %>
                  <button type="button" class="btn btn-warning card__button">
                     Closed
                  </button>
                  <% } else { %>
                  <button
                     class="btn btn-primary card__button"
                     id="registerToEvent"
                     data-event-id="<%= event.event_id %>"
                     data-user-id="<%= attendeeID %>"
                     data-event-fees="<%= event.fees %>"
                  >
                     Register
                  </button>
                  <% } %> <% } %> <% } else { %>
                  <button
                     type="button"
                     class="btn btn-primary"
                     onclick="redirectToView('<%= event.event_id %>')"
                  >
                     View Registrations
                  </button>
                  <button
                     type="button"
                     class="btn btn-secondary"
                     data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"
                  >
                     Edit Event
                  </button>
                  <% } %>
               </div>
            </div>
         </div>

         <%- include("layout/editEventModal")%>
      </main>

      <%- include("layout/footer")%>
   </body>
</html>
