<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>EventifyMIT</title>
      <link rel="icon" href="../img/Logo.png" type="image/x-icon" />
      <link rel="stylesheet" href="../css/reset.css" />
      <link rel="stylesheet" href="../css/headerFooter.css" />
      <link rel="stylesheet" href="../css/minEventCard.css" />
      <script defer src="../js/minEventCard.js"></script>
      <link rel="stylesheet" href="../bootstrap-5.3.3/css/bootstrap.css" />
      <script defer src="../bootstrap-5.3.3/js/bootstrap.js"></script>
   </head>
   <body>
      <%- include("layout/header")%>

      <main>
         <div class="container">
            <div
               class="row height d-flex justify-content-center align-items-center"
            >
               <div class="col-md-8">
                  <div class="search">
                     <img
                        src="../img/minEventCard/searchIcon.png"
                        alt="find"
                        width="25"
                        height="25"
                     />
                     <input type="text" placeholder=<% if (user === 'ATTENDEE')
                     { %> "Search and view your upcoming events..." <% } else {
                     %> "Search and manage your events..." <% } %>
                     class="form-control" />
                     <button class="btn btn-primary">Search</button>
                  </div>
               </div>
            </div>
         </div>

         <ul
            class="cards d-flex justify-content-center align-items-center flex-wrap"
         >
            <% events.forEach(event => { %>
            <li>
               <div class="card">
                  <img
                     src="<%= getEventBgSrc(event.event_type_id, event.event_name)%>"
                     alt=""
                     class="card__image"
                  />
                  <div class="card__overlay">
                     <div class="card__header">
                        <img
                           class="card__thumb"
                           src="<%= getEventIconSrc(event.event_type_id)%>"
                           alt=""
                        />
                        <div class="card__header-text">
                           <h3 class="card__title"><%= event.event_name %></h3>
                           <span class="card__tagline"
                              >Date: <%= event.event_date.toISOString().slice(0,
                              10) %></span
                           >
                           <span class="card__tagline"
                              >Time: <%= event.event_time %></span
                           >
                           <span class="card__tagline"
                              >Deadline: <%=
                              event.registration_deadline.toISOString().slice(0,
                              10) %></span
                           >
                        </div>
                     </div>
                     <p class="card__description">
                        <%= event.event_description.substring(0, 100) %>
                     </p>
                     <button
                        class="card__button btn btn-primary"
                        onclick="redirectToEvent('<%= event.event_id %>')"
                     >
                        View Details
                     </button>
                  </div>
               </div>
            </li>
            <% }); %>
         </ul>
      </main>

      <%- include("layout/footer")%>
   </body>
</html>
