<div
   class="modal fade"
   id="staticBackdrop"
   data-bs-backdrop="static"
   data-bs-keyboard="false"
   tabindex="-1"
   aria-labelledby="staticBackdropLabel"
   aria-hidden="true"
>
   <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
   >
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
               Edit Event Details
            </h1>
            <button
               type="button"
               class="btn-close"
               data-bs-dismiss="modal"
               aria-label="Close"
            ></button>
         </div>
         <div class="modal-body">
            <form class="eventForm formMargin" id="editEventForm">
               <label for="name">Event Name</label>
               <input
                  type="text"
                  id="name"
                  name="name"
                  value="<%= event.event_name %>"
                  required
               />

               <label for="description">Description</label>
               <textarea
                  type="text"
                  id="description"
                  name="description"
                  required
               >
<%= event.event_description %></textarea
               >

               <label for="start_date">Start Date</label>
               <input
                  type="date"
                  id="start_date"
                  name="start_date"
                  value="<%= event.start_time.toISOString().slice(0, 10) %>"
                  required
               />

               <label for="start_time">Start Time</label>
               <input
                  type="time"
                  id="start_time"
                  name="start_time"
                  value="<%= event.start_time.toISOString().slice(11, 16) %>"
                  required
               />

               <label for="end_date">End Date</label>
               <input
                  type="date"
                  id="end_date"
                  name="end_date"
                  value="<%= event.end_time.toISOString().slice(0, 10) %>"
                  required
               />

               <label for="end_time">End Time</label>
               <input
                  type="time"
                  id="end_time"
                  name="end_time"
                  value="<%= event.end_time.toISOString().slice(11, 16) %>"
                  required
               />

               <label for="venue">Venue</label>
               <input
                  type="text"
                  id="venue"
                  name="venue"
                  value="<%= `${venue.name} ${venue.location}` %>"
               />

               <label for="deadline_date">Deadline</label>
               <input
                  type="date"
                  id="deadline_date"
                  name="deadline_date"
                  value="<%= event.registration_deadline.toISOString().slice(0, 10) %>"
                  required
               />

               <label for="deadline_time">Deadline Time</label>
               <input
                  type="time"
                  id="deadline_time"
                  name="deadline_time"
                  value="<%= event.registration_deadline.toISOString().slice(11, 16) %>"
                  required
               />

               <label for="fee">Fee</label>
               <input
                  id="number"
                  id="fee"
                  name="fee"
                  type="number"
                  min="0"
                  max="100000"
                  required
                  value="<%= event.fees %>"
               />

               <label class="eventType">Event Type</label>
               <select name="event_type_id" id="eventType" class="form-select">
                  <% eventTypes.forEach((e) => { %> <% if (e.id ===
                  event.event_type_id) { %>
                  <option value="<%= e.id %>" selected><%= e.name %></option>
                  <% } else { %>
                  <option value="<%= e.id %>"><%= e.name %></option>
                  <% } %> <% }); %>
               </select>

               <input
                  type="hidden"
                  id="event_id"
                  name="event_id"
                  value="<%= event.event_id %>"
               />
            </form>
         </div>
         <div class="modal-footer d-flex justify-content-between w-100">
            <button
               type="button"
               class="btn btn-secondary"
               data-bs-dismiss="modal"
            >
               Close
            </button>
            <button
               type="button"
               class="btn btn-primary"
               id="submitEventForm"
               onclick="formSubmit('editEventForm', '/user/update/event')"
            >
               Save Changes
            </button>
         </div>
      </div>
   </div>
</div>
